.width-full {
    width: 100%;
}
.bold {
    font-weight: bold;
}
.block {
    display: block;
}
.pd10 {
    padding: 10px;
}
.pd20 {
    padding: 20px;
}
.mb10 {
    margin-bottom: 10px;
}
// color
.color-primary {
    color: $uni-color-primary;
}
.color-grey {
    color: $uni-text-color-grey;
}
.color-error {
    color: $uni-color-error;
}
.color-warning {
    color: $uni-color-warning;
}
.color-success {
    color: $uni-color-success;
}
// flex
.flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}
.ml5 {
    margin-left: 5px;
}
.mr5 {
    margin-right: 5px;
}
// font
.font16 {
    font-size: 16px;
}
